/* Fill me in :) */
body {
    /* background-color: #011f4b ; #483475 #2B2F77 */
    /* background-image: url("../../../dist/nightsky.jpg"); */
}

.whole {
    background-image: url("../../../dist/nightsky4.png");
    background-size: cover;
    display: flex;
}

.main {
    align-self: flex-end;
    align-content: center;
    flex-grow: 1;
    padding: 200px;
}

html {
  overflow-y: auto;
  background-color: transparent;
}

section {
    height: 100vh;
}

.title {
    color: var(--white);
    font-size: 50px;
    display: flex;
    justify-content: center; 
    padding: 20px 0px 0px 0px;
}

.quote {
    color: #b9b9b9;
    font-size: xx-large;
    display: flex;
    justify-content: center; 
}

.instructions-block {
    background-color: rgb(20, 33, 56);
    height: 100vh;
}

.instructions-title {
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center; 
    padding: 50px 0px 10px 0px;
}
.instructions {
    color:black;
    font-size: 20px;
    display: flex;
    flex-wrap : wrap;
    justify-content: center; 
    padding: 10px;
    margin : 10px 20px;
    position: relative
}

.constellation-image {
    
    width : 100%;
    height : 100%;
    margin : 0 auto;
    display: block;
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color:  rgba(255, 255, 255, .18);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border: 1px solid rgba(83, 83, 83, 0.233);
  -webkit-border-radius: 6px;
  }

::-webkit-scrollbar-track-piece  {
  background-color: rgba(255, 255, 255, .1);
  
  }