.Profile-ProfileNameContainer{
    margin : 24px;
    text-align: center;     
    color : white;
    font-size: 32px;
}

.Profile-ProfileNameBody{

}

.Profile-ProfileSkyBox{
    display : flex;
    flex-grow: 1;
    flex-basis : 0;
    flex-wrap: wrap;
}

.Profile-container{
    display:flex;
    flex-direction: row;
}
