.ConstellationsBlock-title {
    display : flex;
    flex-wrap: wrap;
    padding : 10px;

}

.ConstellationsBlock-name{
    word-wrap: break-word;
    flex-wrap : wrap;
    margin : 10px;
}

.ConstellationsBlock-name:hover{
    color: grey;
}

.ConstellationsBlock-names{
    flex-wrap: wrap;
    margin : 10px;
}

.ConstellationsBlock-NameContainer{
    display : flex;
    flex-direction: column;
    word-break: break-word;
    height : calc(100vh - 66px - 119px - 94px - 44px);
    overflow : auto;
}