.CreativeSideBar-body {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.CreativeSideBar-constellationTitle {
    display : flex;
    flex-wrap: wrap;
    padding: 10px;
}
.CreativeSideBar-skyTitle {
    padding: 10px 20px 20px 20px;
}