.LearningSideBar2-body {
    height: calc(100vh - 66px);
    background-color: white;
    display: flex;
    min-width: 250px;
    flex-direction: column;
    column-width: 280px;
    width : 100%;
    overflow-y: scroll;

}

.LearningSideBar2-content{
    display : flex;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}

.Collapse-button{
    color: grey;
    padding: 10px
}
