.LearningSideBar-body {
    height: calc(100vh - 66px);
    background-color: white;
    display: flex;
    min-width: 250px;
    flex-direction: column;
    column-width: 280px;
    max-width: 280px;
    width : 100%;
    overflow-y: scroll;

}

.LearningSideBar-content{
    display : flex;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
}



.LearningSideBar-constellationName {
    padding: 10px;
    margin : 10px;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.NameSpace{
    padding: 5px;
}

.indivName:hover{
    color: grey;
}