.NavBar-container {
    padding: var(--s) var(--m);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    /* background-color: rgb(255, 255, 255, .2); Define in root later as variable #2B2F77 #483475 */

    display: flex;
    align-items: center;
    min-height: 66px;
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 20px;
  }
  
  .NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
    /* display: flex; */
    /* justify-content: flex-start; */
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
    /* display: flex; 
    justify-content: flex-end;
    margin-left: 20px;  */
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  