.ProfileSideBar-body {
    background-color: white;
    height: 100vh;
    display: flex;
    max-width: 250px;
    flex-direction: column;
}

.ProfileSideBar-content{
    display : flex;
    padding: 10px 10px 10px 10px;
}

.ProfileSideBar-constellationTitle {
    padding: 20px;
}
.ProfileSideBar-skyTitle {
    padding: 10px 20px 20px 20px;
}