.ProfileSkyBox-container{
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding : 10px 10px;
}

.ProfileSkyBox-body{
    color : white;
    font-size : 24px;
    padding : 20px;
    margin : 30px;
    background-image: linear-gradient(rgba(255, 255, 255, .25), rgba(255, 255, 255, .3));
    /* background: rgba(255, 255, 255, .3); */
    width : 300px;
    height : 200px;
    justify-content : space-around;
    border-radius: 10px;
}


.Link{
    color: white;
}

.Link:hover{
    color: rgb(167, 167, 167);
}

.delete{
    color: white;
    float: right;
    padding: 10px;
    background:  rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.delete:hover{
    background:  rgba(255, 255, 255, .25)
}