.ProfileSkySideBar-body {
    background-color: white;
    height: 100vh;
    display: flex;
    min-width: 200px;
    max-width: 200px;
    flex-direction: column;
}

.ProfileSkySideBar-content{
    display : flex;
    flex-wrap: wrap;
    padding: 10px;
}

.ProfileSkySideBar-constellationName{
    display : flex;
    flex-wrap: wrap;
    padding : 2px;
    margin-left : 16px ;
    word-break: break-word;
}

.ProfileSkySideBar-constellationName:hover{
    color: grey;
}

.ProfileSkySideBar-NameContainer{
    display : flex;
    flex-direction: column;
    word-break: break-word;
    height : calc(100vh - 66px - 156px);
    overflow : auto;
}